<html lang="es">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/item.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
         <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" /> 
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>

  <body>
    <header id="header" class="header">
       </div>
      <div class="menu-buttons">
        <span class="material-symbols-outlined">shopping_cart<input class="btn" type="button" value="carrito"onClick="DetailCart()"/></span>
        <span class="material-symbols-outlined">
chat
<input class="btn" type="button" value="Chat" onclick="location.href='/chat/{{user}}'"/>
</span>
        <span class="material-symbols-outlined">
list_alt <input class="btn" type="button" value="Compras" onclick="location.href='/orders'"/></span>
      </div>
      </div>
      <h1 class="h1">Moon Accesorios</h1>
      <div class="header-div">
        <div class="user-options">
          <div class="options-container">
            <input
              class="btn"
              type="button"
              value="cerrar sesión"
              onclick="location.href='/logout'"
            />
          </div>
          <div class="avatar-container">
            <img class="avatar" src="/{{avatar}}" alt="" />
          </div>
        </div>
      </div>
    </header>
    <div class="header">
      <div class="description">
        <div class="content">usuario online:</div>
        <div class="content" id="firstname">{{firstname}}</div>
        <div class="content" id="lastname">{{lastname}}</div>
      </div>
      <div class="description">
        <div class="content">email:</div>
        <div class="content" id="username">{{user}}</div>
      </div>
      <div class="description">
        <div class="content" id="rol"></div>
      </div>
    </div>
    <div id="menu"></div>
    <div class="header" id="category"></div>
    <main id="main"></main>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"
    ></script>
    <script>
      const userEmail = `{{user}}`
    </script>
    <script>
      const userAddress = `{{address}}`
    </script>
    <script>
      const productId = `{{productId}}`
    </script>
    <script src="/js/item.js"></script>
    <script>userType({{rol}}, {{id}})</script>

  </body>
</html>