<html lang="es">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./css/main.css" />
     <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />   
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>

  <body>
    <header id="header" >
       <div class="header-div">
        <div class="user-options">
          <div class="options-container">
            <div class="logout">
            <input class="btn"type="button"value="Logout"onclick="location.href='/logout'"/>
            </div>
          </div>
          <div>
          <div class="avatar-container">
            <img class="avatar" src="/{{avatar}}" alt="50px" />
          </div>
        </div>
      </div class="data">
         <div class="header">
      <div class="description">
        <div class="content" id="firstname">{{firstname}}</div>
        <div class="content" id="lastname">{{lastname}}</div>
      </div>
      <div class="description">
        <div class="content" id="username">{{email}}</div>
      </div>
      <div class="description">
        <div class="content" id="rol"></div>
      </div>
    </div>
      <div class="menu-buttons">
        <span class="material-symbols-outlined">shopping_cart<input class="btn" type="button" value="carrito"onClick="DetailCart()"/></span>
     <input class="btn" type="button" value="chat" onclick="location.href='/chat/{{user}}'"/>
        <input class="btn" type="button" value="order" onclick="location.href='/orders'"/>
      </div>
      </div>
      <h1 class="store">Moon Accesorios</h1>
     
    </header>
 
    <div id="menu"></div>
    <div class="header" id="category"></div>
    <main id="main"></main> 
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"
    ></script>
    <script>
      const userEmail = `{{user}}`
      </script>
    <script>
      const userAddress = `{{address}}`
    </script>
    <script src="../js/main.js"></script>
    <script>userType({{rol}}, {{id}})</script>

  </body>
</html>