<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css" />
    <title>Configuración del servidor</title>
  </head>
  <body>
    <h1>Configuración del servidor:</h1>
    el servidor ha iniciado con los siguientes parámetros:
    <div class="params-container">
      <h3>parametros generales</h3>
      <div class="parameter">Puerto de escucha: {{PUERTO}}</div>
      <div class="parameter">Instancia de ejecución: {{MODO}}</div>
      <h3>parámetros de session</h3>
      <div class="parameter">seed de encriptación: {{SECRET}}</div>
      <div class="parameter">Tiempo de expiración de sesión (en ms):
        {{expiracionSesion}}</div>
      <h3>Persistencias</h3>
      <div class="parameter">Url de servidor Mongo: {{MONGOURL}}</div>
      <h3>Cliente de correos</h3>
      <div class="parameter">Cuenta de Gmail saliente: {{GMAIL_MAIL}}</div>
      <div class="parameter">Las notificaciónes por correo se envía a:
        {{emailNotificacion}}</div>
      <h3>Parametros de Twilio</h3>
      <div class="parameter">Twillio Acct Sid: {{TWILIO_ACCTSID}}</div>
      <div class="parameter">Twilio Auth Token: {{TWILIO_AUTH_TOKEN}}</div>
      <div class="parameter">Twilio Sender Number: {{TWILIO_SENDER_NUMBER}}</div>
      <div class="parameter">Twilio Receiver Number:{{TWILIO_RECEIVER_NUMBER}}</div>
  </div>

    <input
      class="btn bottom"
      type="button"
      value="exit"
      onclick="location.href=`/products`"
    />
  </body>
</html>